html, body {
    height: 100%;
    line-height: 1.6;
    font-size: 1rem;
    font-family: 'Kumar One', cursive;
    color: #1D1D1B;
    cursor: crosshair;
    background-color: #615736;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.6;
}

/* LANDINGPAGE */

.landingPageCon {
    max-width: 70rem;
}

.landingPageCol {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.artistsTitleCol {
    padding: 0.5em 0;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.titleText {
    font-size: 3.3rem;
}

/* ARTIST CARDS */

.cardRow {
    display: flex;
    justify-content: space-around;
}

.artistCard {
    background-color: #615736;
    width: 30rem;
    margin-bottom: 0.2em;
    border-radius: 22px;
    color: #1D1D1B;
}

.cardNameCol {
    text-align: center;
}

.nameText {
    font-size: 2.2rem;
}

.cardInfoCol {
    text-align: center;
    padding: 0.5em;
}

.cardIgCol {
    padding: 1.1em;
}

.linkPress {
    color: #1D1D1B;
    cursor: crosshair;
}

.linkPress:hover {
    color: #333331;
}

.adressText {
    font-size: 1.6rem;
}

.pageLine {
    border: 1px solid #1D1D1B;
}