<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='/css/landingPageStyle.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One&display=swap" rel="stylesheet">
    <title>Stoneblood Tattoo</title>
</head>

<body>

    <!--INTRO-->
    <div class="splash">
        <div class="container splashCon">
            <div class="row splashRow">
                <div class="col-12 d-flex justify-content-center splashCol">
                    <img src="static/img/STONE.png" class="img-fluid logo">
                </div>
            </div>
            <div class="row splashRow">
                <div class="col-12 d-flex justify-content-center splashCol">
                    <img src="static/img/BLOOD.png" class="img-fluid logo">
                </div>
            </div>
            <div class="row splashRow">
                <div class="col-12 d-flex justify-content-center splashCol">
                    <img src="static/img/TATTOO.png" class="img-fluid logo">
                </div>
            </div>
        </div>
    </div>

    <!--ACTUAL PAGE-->
    <div class="container landingPageCon">

        <div class="row landingPageRow">
            <div class="col-sm-12 landingPageCol">
                <img src="static/img/Stoneblood_SMALL.png" class="img-fluid fade-in-logo">
            </div>
        </div>

        <div class="row align-items-center justify-content-center artistRow fade-in-artist">
            <div class="col-sm-5 rounded artistCol">
                <h2 class="artistName">JONNY</h1>
                    <img src="static/img/selfies.jpg" class="img-fluid portraitIMG">
            </div>
            <div class="col-sm-5 rounded artistCol">
                <h2 class="artistName">MARIA</h1>
                    <img src="static/img/selfies.jpg" class="img-fluid portraitIMG">
            </div>
        </div>

        <div class="row fade-in-adress">
            <hr>
            <div class="col adressCol">
                <h6 class="adressText">Heleneborgsgatan 21, 117 31 Stockholm</h6>
            </div>
            <hr>
        </div>

        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#3e6682" fill-opacity="1"
        d="M0,96L80,112C160,128,320,160,480,154.7C640,149,800,107,960,90.7C1120,75,1280,85,1360,90.7L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
        </svg>-->
        
    </div>

    <!--CURSOR-->
    <div class="pointer"></div>

    <!---JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!---JS-->
</body>

</html>