<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='/css/splash.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One&display=swap" rel="stylesheet">
    <title>Stoneblood Tattoo</title>
</head>

<body>

    <div class="splash">
        <div class="container splashCon">
            <div class="row splashRow">
                <div class="col-12 d-flex justify-content-center splashCol">
                    <img src="static/img/STONE.png" class="img-fluid logo">
                </div>
            </div>
            <div class="row splashRow">
                <div class="col-12 d-flex justify-content-center splashCol">
                    <img src="static/img/BLOOD.png" class="img-fluid logo">
                </div>
            </div>
            <div class="row splashRow">
                <div class="col-12 d-flex justify-content-center splashCol">
                    <img src="static/img/TATTOO.png" class="img-fluid logo">
                </div>
            </div>
        </div>
    </div>

    <h1>TEST</h1>

    <!--CURSOR-->
    <div class="pointer"></div>

    <!---JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!---JS-->
</body>

</html>